<div class="card">
  <%# 画像 %>
  <%= link_to image_tag(prototype.image, class: :card__img ), prototype_path(prototype) %>
  <div class="card__body">
    <%# プロトタイプ名 %>
    <%= link_to prototype.title, prototype_path(prototype), class: :card__title%>
    <p class="card__summary">
      <%# キャッチコピー %>
      <%= prototype.catch_copy %>
    </p>
    <%# 投稿者 %>
    <%= link_to "by #{prototype.user.name}", user_path(prototype.user_id), class: :card__user %>
  </div>
</div>